body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page {
  height: 100vh;
}
.nav-link {
  color: white;
  transition: 1s;
  margin-right: 20px;
  font-size: 24px;
}

.nav-link:hover {
  color: lightgrey;
  transform: scale(1.1);
}
li {
  font-size: 2rem;
}
.navbar {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.nav-item {
  transition: 1s;
  margin-right: 20px;
  font-size: 24px;
}

.nav-item:hover {
  color: lightgrey;
  transform: scale(1.1);
}
.nav-link:focus {
  color: lightgrey;
}
.App {
  height: 100%;
}
.titleCard {
  margin: 20px;
  min-height: 100%;
  border-radius: 50px;
  padding-top: 5%;
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
  transition: ease-out 2s;
  background-size: 100%;
  text-align: center;
}

.title {
  color: white;
  font-size: 10rem;
}

p {
  color: white;
  font-size: 2rem;
}

a {
  transition: 1s;
  display: inline-block;
}

a:hover {
  transform: scale(1.1);
}

.titleCard:hover {
  background-size: 105%;
  border-radius: 100px;
}