body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.page {
  height: 100vh;
  color: white;
}
.nav-link {
  color: white;
  transition: 1s;
  margin-right: 20px;
  font-size: 24px;
}

.nav-link:hover {
  color: lightgrey;
  transform: scale(1.1);
}
li {
  font-size: 2rem;
}
.navbar {
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
}

.nav-item {
  transition: 1s;
  margin-right: 20px;
  font-size: 24px;
}
.active .nav-link {
  color: darkgrey;
}
.nav-item:hover {
  color: lightgrey;
  transform: scale(1.1);
}
.nav-link:focus {
  color: lightgrey;
}
.App {
  height: 100%;
}
.titleCard {
  margin: 20px;
  min-height: 100%;
  border-radius: 50px;
  padding-top: 5%;
  background-size: cover;
  background-position: center;
  padding-bottom: 5%;
  transition: ease-out 2s;
  background-size: 100%;
  text-align: center;
}

.title {
  color: white;
  font-size: 10rem;
}
h1 {
  font-size: 4rem;
}
p {
  color: white;
  font-size: 2rem;
}

a {
  transition: 1s;
  display: inline-block;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

a:hover {
  transform: scale(1.05);
  color: darkgray;
}

.titleCard:hover {
  background-size: 102%;
}
.card {
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
}