<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174244002-2"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-174244002-2');
			</script>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="/favicon.png">
		</head>
		<body onload="checkSelected()">
			<script>
				function checkSelected() {
					var buttons = ['/', '/blog/', '/games/'];
					var x;
					for (x of buttons) {
						if (window.location.href == (window.location.origin + x)) document.getElementById(x).classList.add("current");
					}
				}
			</script>
			<nav>
	    		<ul>
				<h1 style="background-image: url({{ page.image }}); background-size: 100% 100%;">{{ page.section }}</h1>
	        		<li><a href="/" id="/">Home</a></li>
	        		<li><a href="/blog/" id="/blog/">Blog</a></li>
				<li><a href="/games/" id="/games/">Games</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:danielfangzhu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dantheking-crypto">github.com/dantheking-crypto</a></li>
				</ul>
			</footer>
		</body>
	</html>
